<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.storybitindonesia">

    <application
        android:allowBackup="true"
        android:icon="@drawable/storybit"
        android:label="@string/app_name"
        android:roundIcon="@drawable/storybit"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".jawaTengah" />
        <activity android:name=".jawaBarat" />
        <activity android:name=".kalBar" />
        <activity android:name=".jawaTimur" />
        <activity android:name=".sulSel"></activity>
    </application>

</manifest>